@{
	ViewData["Title"] = "Home Page";
}

@* <partial name="Partials/_datePicker" /> *@
@* <partial name="Partials/_select" /> *@
@* <partial name="Partials/_stepper" /> *@
<partial name="Partials/_tableServerSide" />


<!-- Modal Example Content -->
<div id="exampleForm" class="d-none">
	<div class="row">
		<div class="col mb-4">
			<label for="nameBasic" class="form-label">Name</label>
			<input type="text" id="nameBasic" class="form-control" placeholder="Enter Name">
		</div>
	</div>
	<div class="row g-4">
		<div class="col mb-0">
			<label for="emailBasic" class="form-label">Email</label>
			<input type="email" id="emailBasic" class="form-control" placeholder="xxxx@xxx.xx">
		</div>
		<div class="col mb-0">
			<label for="dobBasic" class="form-label">DOB</label>
			<input type="date" id="dobBasic" class="form-control">
		</div>
	</div>
</div>
<!-- Modal Example Content -->


@section Scripts {
	<script>
		var myModal = ModalManager.CreateModal({
			title: 'Deneme Amaçlıdır',
			innerHtml: $(`#exampleForm`).html(),
			buttons: [
				ModalManager.CreateButton(
					{
						kind: ModalManager.buttonKinds.delete,
						text: 'Sil',
						onClick: async () => {
							await new Promise(resolve => setTimeout(resolve, 3000))
						}
					}
				),
				ModalManager.CreateButton(
					{
						kind: ModalManager.buttonKinds.update,
						text: 'Güncelle',
						onClick: async () => {
							await new Promise(resolve => setTimeout(resolve, 3000))
						}
					}
				),
				ModalManager.CreateButton(
					{
						kind: ModalManager.buttonKinds.save,
						text: 'Kaydet',
						onClick: async () => {
							await new Promise(resolve => setTimeout(resolve, 3000))
						}
					}
				)
			],
			size: 'lg',
		})

		var deleteModal = ModalManager.CreateDeleteModal({
			onClick: async () => {
				await new Promise(resolve => setTimeout(resolve, 5000));
			}
		})

		$(document).ready(function () {
			// myModal.show();
			// deleteModal.show();
		})
	</script>
}